section.content {
  position: absolute;
  top: var(--header-height);
  bottom: 0px;
  width: 100%;
  overflow: scroll;
  background: var(--body-bg);
  padding: 0px var(--spacing);
}

.content ul {
  margin: 0px calc(var(--spacing) * -1);
  padding: 0px;
}

.content ul li {
  list-style: none;
  position: relative;
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-bottom: var(--border);
  cursor: pointer;
}

.content ul li.fixed-height {
  height: 60px;
}

.content ul li .color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 35%;
  transition: all .3s;
  z-index: 0
}

.content ul li .control {
  position: absolute;
  left: var(--spacing);
  right: var(--spacing);
  z-index: 1;
}

.content ul li small {
  font-size: calc(var(--font-size) / 1.5);
  display: block;
}

.content ul li a {
  text-align: center;
  display: block;
  color: var(--blue);
}
