.toggle-button {
  width: 30px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  cursor: pointer;
  border: solid 2px var(--grey);
  border-radius: 16px;
  transition: all .2s;
}

.toggle-button:before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: -2px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--grey);
  transition: all .2s;
}

.toggle-button.active {
  border-color: var(--blue);
}

.toggle-button.active:before {
  content: '';
  transform: translateX(12px);
  background: var(--blue);
}
