:root {
  --header-height: 40px;
  --header-bg: white;
  --body-bg: rgba(248, 248, 248, 0.8);
  --spacing: 20px;
  --border: solid 1px #eee;
  --font-family: 'helvetica neue', verdana;
  --font-size: 16px;
  --color: rgba(0, 0, 0, 0.6);
  --grey: #ddd;
  --blue: #2983f0;
  --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

body {
  background: var(--body-bg);
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--color);
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
}

body.dark {
  --header-bg: rgba(0, 0, 0, 1);
  --body-bg: rgba(0, 0, 0, 0.75);
  --border: solid 1px rgba(255, 255, 255, 0.05);
  --font-family: verdana;
  --font-size: 16px;
  --color: rgba(255, 255, 255, .6);
  --grey: rgba(255, 255, 255, 0.3);
  --blue: #2983f0;
  --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: var(--blue);
  cursor: pointer;
}
